body {
  background-color: $background;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;;
}

iframe {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 1950px;

  @include mq('tablet-wide') {
    height: 1810px;
  }
}
