<div class="slider-container">
  <ul id="slides">
    <% [1, 2, 3, 4].each_with_index do |n| %>
      <li class="slide <%= 'showing' if n == 1 %>">
        <img src="/images/<%= n %>.png" />
      </li>
    <% end %>
  </ul>

  <div class="buttons">
    <button class="controls" id="previous">Previous</button>
    <button class="controls" id="pause">Pause</button>
    <button class="controls" id="next">Next</button>
  </div>
</div>
